<h1>
    @{
        var nome = "Rômulo";
    }
    
    @nome
    
</h1>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@ViewData["Cabecalho"]</div>
  <div class="card-body">
    <h5 class="card-title">@ViewData["Titulo"]</h5>
    <p class="card-text">@ViewData["Descricao"]</p>
  </div>
</div>

